@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000018;
  --dyn-green-50: #eeffe4;
  --dyn-green-100: #d7ffc4;
  --dyn-green-200: #b2ff90;
  --dyn-green-300: #7fff50;
  --dyn-green-400: #3cff00;
  --dyn-green-500: #30e600;
  --dyn-green-600: #22b800;
  --dyn-green-700: #198b00;
  --dyn-green-800: #196d07;
  --dyn-green-900: #185c0b;
  --dyn-green-950: #063400;
  --dyn-cyan-50: #edfffe;
  --dyn-cyan-100: #c0feff;
  --dyn-cyan-200: #81fbff;
  --dyn-cyan-300: #3af8ff;
  --dyn-cyan-400: #00ffff;
  --dyn-cyan-500: #00e1e2;
  --dyn-cyan-600: #00b2b7;
  --dyn-cyan-700: #008c91;
  --dyn-cyan-800: #006c72;
  --dyn-cyan-900: #04585d;
  --dyn-cyan-950: #00343a;
  --dyn-gradient: linear-gradient(45deg, var(--dyn-green-400) 0%, var(--dyn-cyan-400) 100%);
  color-scheme: dark;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  background: var(--background);
  color: #fff;
  font-family: "IBM Plex Sans";
  font-weight: 300;
  overflow-x: hidden;
}

p {
  margin-bottom: 1rem;
}

.text-fill-transparent{
  -webkit-text-fill-color: transparent;
}

.dyn-gradient-static{
  background: linear-gradient(90deg, var(--c1, var(--dyn-green-400)), var(--c2, var(--dyn-cyan-400)) 51%, var(--c1, var(--dyn-green-400))) var(--x, 0)/ 200%;
}

.dyn-gradient{
  background: linear-gradient(90deg, var(--c1, var(--dyn-green-400)), var(--c2, var(--dyn-cyan-400)) 51%, var(--c1, var(--dyn-green-400))) var(--x, 0)/ 200%;
  transition: all 0.3s ease-in-out;
}

.dyn-gradient:hover { --x: 100%; }

.onScroll {
  background-color: rgba(10, 10, 32, 0.8);
  backdrop-filter: blur(32px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.surface{
  background: rgba(255,255,255,0.03);
  backdrop-filter: blur(40px);
}



.quote-content::-webkit-scrollbar {
	width: 8px;
  background: rgba(255,255,255,0.06);
	border-radius: 8px;
}

.quote-content::-webkit-scrollbar-thumb {
	border-radius: 8px;
  background: rgba(255,255,255,0.12);
  transition: all 0.3s ease-in-out;
}

.quote-content::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.16);
}

.quote-content::-webkit-scrollbar-thumb:active {
  background: rgba(255,255,255,0.20);
}